# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment Variables
.env

# Kaggle API Credentials
kaggle.json

# Model Checkpoints (Optional)
*.ckpt

# Cache
.cache/

# Temporary Files
*.tmp
